// Place all the styles related to the home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", serif;
}

#my-body {
  background: #343541;
  display: flex;
  overflow-y:scroll;
  overflow-x: hidden;
}

.lateral {
  width: 20%;
  min-height: 100vh;
  background-color: #202123;
  display: flex;
}

.logar{
  height: 5%;
  position: absolute;
  bottom: 0;
  display: flex;
}

.entrar{
  background-color: #242424;
  color: #ffffff;
  margin: 10px;
  border: none;
}

.sair{
}

.entrar:link{
  text-decoration: none;
}

.entrar:hover {
  background:linear-gradient(to bottom, #333333 5%, #333333 100%);
}

.entrar:active {
  position:relative;
  top:1px;
}

.myButton {
  width: 100%;
  height: 40px;
  outline: 1px solid #5a5959;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #242424;
  border-radius: 5px;
  text-decoration: none;
}

.fa-plus{
  padding: 5px;
}
.myButton:hover {
  background:linear-gradient(to bottom, #333333 5%, #333333 100%);
}

.myButton:active {
  position:relative;
  top:1px;
}

.meucontainer {
  width: 80%;
  float: right;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.titulo h1 {
  align-items: center;
  color: #fff;
  font-size: 35px;
}

.aplica {
  width: 100%;
  height: 500px;
  background-color: #343541;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.chat_container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 45px;
}

.chat_container::-webkit-scrollbar {
  display: none;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  max-width: 238px;
  margin-left: 15px;
  border-radius: 10px;
}

.box img {
  width: 1.5rem;
  height: 1.5rem;
}

.box button {
  border: none;
  background-color: hsla(0,0%,100%,.05);
  color: #ffffff;
  padding: 12px;
  border-radius: 5.5px;
  line-height: 20.5px;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.box p {
  font-size: 18px;
  color: #ffffff;
}

.down {
  margin-top: 22px;
}

.box-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 9px;
  margin-bottom: 4px;
}

.wrapper {
  width: 100%;
  padding: 8px;
  overflow-y: scroll;
}

.ai {
  background-color: #40414F;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background-color: #5436DA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background-color: #10a35f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;
  color: #dcdcdc;
  font-size: 20px;
  max-width: 100%;
  overflow-x: scroll;
  white-space: pre-wrap;
  -ms-overflow-style: none;
  scrollbar-width: none;

}

.message::-webkit-scrollbar {
  display: none;
}

.my-img {
  width: 20px;
  height: 20px;
}

.my-texto {
  resize: none;
  width: 100%;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

.envia {
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  }

.my-formulario{
  width: 70%;
  height: 50px;
  position: absolute;
  bottom: 20px;
  align-content: center;
}

.formulario-row {
  display: flex;
  align-items: center;
  background-color: #40414F;
  bottom: 10px;
  padding: 2px;
  gap: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 10px 35px 0;
  margin-bottom: 40px;
  height: 45px;
}
