<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <div class="card">
    <article class="card-body">
      <a href="/users/sign_up" class="float-right btn btn-outline-primary">Sign up</a>
      <h4 class="card-title mb-4 mt-1">Forgot your password?</h4>
      <form>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div> <!-- form-group// -->
        <div class="form-group">
          <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-block"%>
        </div>
      </form>
    </article>
  </div>
<% end %>


